
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

  .modal-content {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 70%;
    height: 70%;
    transform: translate(-30%, -30%);
    background: url("../images/task_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1rem 1.5rem;
    /* border-radius: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-end; */
    justify-content: space-between;
  }

  .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #006D9C;
    position: absolute;
    top: 60px;
    right: 240px;
  }

  .close-button:hover {
    background-color: #68a2a3;
  }

  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  .modal-content h1 {
    font-size: 35px;
    font-weight: 700;
    font-style: oblique;
    color: #006D9C;
    text-align: center;
    margin-top: 80px;
    /* margin-left: 230px; */
  }

  .task-content {
    width: 50%;
    /*display: flex;
    flex-direction: row;
    justify-content: space-around;
	  align-items: center;
    margin-bottom: 20px; */
  }

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #f26f6f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -13px;
    border-width: 10px;
    border-style: solid;
    border-color: #f26f6f transparent transparent transparent;
}

input[name=result] {
   /*  display: block;   */
    height:  2.5rem;
    width: 3.5rem;
    font-size: 1.3rem;
    font-style: italic;
    color: #7c7c7c;
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    border: 4px solid #006D9C;
    outline: none;
}

input[name=result]::placeholder {
  font-size: 1rem;
  color: #aaa7a7;
}

.task-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.math-content, .english-content {
  width: 100%;
  font-size: 2.5rem;
  color: #4c4a4a;
  display: flex;
  justify-content: flex-end;
  /* margin-left: 100px; */
}

.math-content span, .english-content span {
  margin-right: 10%;
}

.border-red {
  border-color: #f26f6f;
}

.border-green {
  border-color: #12AF1B;
}

.green {
  color: #12AF1B;
}

button.check-result {
  width: 100px;
  height: 100px;
  outline: none;
  border: 2px solid #01567a;
  cursor: pointer;
  border-radius: 5px;
}

button.check-result img {
  width: 100%;
  height: 100%;
}

.modal-content form {
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 200px;
}

#wordblock {
  display: flex;
  align-items: center;
  justify-content: center;
}

#wordblock > div {
  /* float: left; */
  margin: 7px;
  width: 45px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  font-size: 2.5rem;
  font-family: arial;
  background-color: rgb(0,100,155);
  color: white;
  border-radius: 3px;
}

.audio-btn {
  /* height:  2.5rem; */
  background-color: rgba(78, 137, 163, 0.4);
  color: #006D9C;
  border: 4px solid #006D9C;
  padding: 9.5px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 18px;
  margin-right: 10%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.audio-btn:hover {
  background-color: #006D9C;
  color: white;
}
